@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #282a57;
  --secondaryColor: #e4e4e4;
}

body {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-family: "montserrat", sans-serif;
}

.bdr {
  border: 2px solid rgb(250, 3, 3);
}
